name: release

on:
  push:
    tags:
      - "*"

permissions: {}

jobs:
  release:
    if: github.repository == 'grantbirki/openshot' # change this to your repository
    permissions:
      contents: write
    runs-on: ubuntu-latest
    outputs:
      artifact-id: ${{ steps.upload-artifact.outputs.artifact-id }}

    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # pin@v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: bootstrap
        run: script/bootstrap

      - name: upload artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # pin@v5.0.0
        id: upload-artifact
        with:
          name: dist
          path: dist/
          retention-days: 5
          if-no-files-found: error

  sign:
    needs: release
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      attestations: write
      contents: read
    steps:
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # pin@6.0.0
        with:
          artifact-ids: ${{ needs.release.outputs.artifact-id }}
          path: "dist/"

      - name: attest build provenance
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # pin@v3.0.0
        with:
          subject-path: "dist/"

  verify:
    permissions: {}
    runs-on: ubuntu-latest
    needs: [release, sign]
    steps:
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # pin@6.0.0
        with:
          artifact-ids: ${{ needs.release.outputs.artifact-id }}
          path: "dist/"

      - name: verify
        env:
          OWNER: ${{ github.repository_owner }}
          REPO: ${{ github.event.repository.name }}
          ARTIFACT_PATH: "dist/"
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "Scanning for files in $ARTIFACT_PATH"

          # Find all regular files in the artifact path recursively
          find "$ARTIFACT_PATH" -type f | while read -r file; do
            echo "Verifying file: $file"
            
            # Log the command that will be executed
            echo "Executing command: gh attestation verify \"$file\" --repo ${OWNER}/${REPO} --signer-workflow ${OWNER}/${REPO}/.github/workflows/release.yml"
            
            # Run the command
            gh attestation verify "$file" --repo ${OWNER}/${REPO} --signer-workflow ${OWNER}/${REPO}/.github/workflows/release.yml
          done
